<hmtl xmlns:th="http://www.thymeleaf.org">

	<body style="background-color: lightcoral">
		<p> One Driver </p>
		<table border="1">
			
			
		
			<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Surname</th>
					<th>PersonCode</th>
					<th>LicenceNo</th>
					<th>YearsOfExperience</th>
				</tr>
						
		
		
		
				<td  th:text="${mypackage.getIds()}"></td>
				<td  th:text="${mypackage.getName()}"></td>
				<td  th:text="${mypackage.getSurname()}"></td>
				<td  th:text="${mypackage.getPersonCode()}"></td>
				<td  th:text="${mypackage.getLicenceNo()}"></td>
				<td  th:text="${mypackage.getExperienceInYears()}"></td>
				
				
			</table>
	</body>
	
		
</hmtl>



				